apiVersion: v1
kind: Service
metadata:
  name: aboutmepage-deployment
spec:
  type: NodePort
  selector:
    app: aboutmepage-deployment
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30009  # optional custom port
